@charset "utf-8";
/* CSS Document 修改人：陈shi 修改日期： */
/* 应用到的颜色   */

/* 全局样式 */

.orange_line{width:100%;height:2px;background:#fd8d22;}

body {
    flex-direction: row;
    font-family:"microsoft yahei";
}

.fff{background:#fff !important;}
.f3f3f3{background:#f3f3f3;}

.before{}
.before:before{content: "";display: table;}
/*边距*/
.mt0{margin-top:0 !important;}
.mt5{margin-top:5px !important;}
.mt8{margin-top:8px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt30{margin-top:30px !important;}
.mt40{margin-top:40px !important;}
.mt60{margin-top:60px !important;}


.mr5{margin-right:5px !important;}
.mr10{margin-right:10px !important;}
.mr20{margin-right:20px !important;}

.mb5{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;}

.ml5{margin-left:5px !important;}
.ml10{margin-left:10px !important;}
.ml15{margin-left:15px !important;}
.ml20{margin-left:20px !important;}
.ml40{margin-left:40px !important;}

.pt0{padding-top:0 !important;}
.pt5{padding-top:5px !important;}
.pt10{padding-top:10px !important;}
.pt20{padding-top:20px !important;}
.pt30{padding-top:30px !important;}
.pt5{padding-top:5px !important;}
.pb5{padding-bottom:5px !important;}
.pb10{padding-bottom:10px !important;}
.pb20{padding-bottom:20px !important;}
.pl0{padding-left:0 !important;}
.pl5{padding-left:5px !important;}
.pl10{padding-left:10px !important;}
.pr10{padding-right:10px !important;}
.p0{padding:0px !important;}
.p10{padding:10px !important;}
.p20{padding:20px !important;}

.lh24{line-height:24px !important;}
/*边框 背景*/
.noborder{ border:none !important;}

/*字体*/
.ft12{ font-size:12px !important;}
.ft14{ font-size:14px !important;}
.ft16{ font-size:16px !important;}
.ft18{ font-size:18px !important;}
.ft24{ font-size:24px !important;}

.bold{ font-weight:bold;}
.font-normal{ font-weight:normal;}
.nobold{ font-weight:normal;}
.line-through{ text-decoration:line-through;}
.text-gray{ color:#666 !important;}
.text-light-gray{ color:#999 !important;}
.text-green{ color:#8fc458 !important;}
.text-blue{ color:#4fa1ad !important;}
.text-yellow{ color:#ffff00 !important;}
.text-orange{color:#fd9126 !important;}
.text-red{ color:#ef0303 !important;}
.text-white{ color:#fff !important;}
.text-overflow{overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.text-overflow-2{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.text-overflow-3{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;}

.text-darkred{color: #960000}
.text-shadow{ text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);}
.yahei{ font-family:"microsoft yahei";}
.block{display:block;}

/*表单*/
.br{border-right: 1px solid #e9e9e9}
.bt{border-top: 1px solid #e9e9e9}
.bl{border-left: 1px solid #e9e9e9}
.bb{border-bottom: 1px solid #e9e9e9}
.nb{border:none !important;}

/*验证出错*/
.input-err{
    border-color: #ff5c75;
}
.input-err.form-control:focus{
    border-color: #ff5c75;
}
.header-icons{display: block;float: left;margin-right: 5px;margin-top: 0px;}
.table-search{position: relative;top:-40px;margin-left: 15px;}

.clear:after{content: "";display: table;clear: both}
label.custom-control-label{margin-top: -3px;}

.custom-checkbox .custom-control-label::before{border-radius: 2px;width: 15px;height: 15px}
label.custom-control-label{
    font: normal normal normal 16px/1 LineAwesome;}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before, .custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before{padding: 2px 1px}
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
     -webkit-appearance: none;
 }
.text-overflow{overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.text-overflow-2{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.text-overflow-3{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;}
input[type="number"]{
    -moz-appearance: textfield;
}

.qt-loader.qt-loader-right:before {
    left: auto;
    right: 50% !important;
    margin-right: -7px !important;
}

.alert-us.alert-danger {
    background-color: #ff5c75;
    border-color: #ff5c75;
    color: #fff;
}
.alert-us {
    color: #fff;
    font-size: .875rem;
    position: relative;
}
.alert-us {
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.alert-us p a.alert-link {
    color: rgba(255,255,255,.85)
}
.alert-us.alert-dismissible .close {
    text-shadow: none;
    padding: 9px 15px;
    color: rgba(255,255,255,.75);
}
.alert-us .button:hover{background: rgba(255,255,255,.35)}
.modal-content button:hover{background: rgba(0,0,0,0)}
.alert button:hover{background: rgba(0,0,0,0)}
.alert button:before{display: none}
.custom-checkbox .custom-control-label{margin-top: -5px;color:#666;}
